.container {
  height: 100vh;
  display: flex;
  /* text-align: center; */
}

.aside {
  display: inline-block;
  width: 500px;
  padding: 20px;
  border: 1px solid;
}

.chat {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid;
}

.history {
  height: 80%;
  background-color: yellow;
}